body {
  font-family: Arial;
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  gap: 50px;
}

.left {
  text-align: center;
}

.logo {
  font-size: 40px;
  background: blue;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

input, select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}